@charset "utf-8";
/**
 * @filename :style.css
 * @author   : 이정원(j_one32@naver.com)
 * @descriptions :index.html의 전체 css
 --------------------------------------------------------*/
/*공통css
---------------------------------------------------------*/
body{
    text-align: center;
    width: 1280px;
    overflow-x: hidden;
    
}
a {
    text-decoration: none;
    color:#333;
}
.clear::after {
    content: '';
    display: block;
    float: none;
    clear: both;
  }


/** 헤더 */
#header {

    position: relative;
    height: 130px;
    width: 100%;
    margin: auto;
    border-top: 3px solid rgb(255, 82, 134);
    background-image: url('../img/bg_header.jpg');
} 
#header-sns {
   float: left;
   margin-top:40px;
   margin-left: 80px;
}

#header-sns ul li span img {
    width:30px;
}

/**  헤더 로고 */
#header-logo {
    position: absolute;
    left: 46%;
    margin-top: 15px;
}
#header-logo img {
    width:80px;
}

/** 헤더 기타영역*/
#header-right {
    float: right;
    font-size: 10px;
    
}
#header-right ul {
    float: left;
    margin-top: 36px;
    margin-right: 80px;
    
}
#header-right ul li span{
    margin-right:15px;
   
}

#header-right ul li img{
    width:50px;
}



/*메인컨텐츠
------------------------------------------------------*/
/** navibar */
#navi { 
    width: 1280px;
    height: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    position: absolute;
    z-index: 7;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: height 0.3s;
    background-image:url(../img/navi-bg.jpg);
    background-size: 100%;
}

#navi ul {
    display: inline;
    float: left;
    font-family: 'Jua', sans-serif;
    margin-top:12px;
}
#navi-log {
    margin-left:20px;
    width:15%;
}
#navi-log>li {
    display: inline;
    margin-left: 20px;
}
#navi-menu {
    width: 80%;
}
#navi-menu >li {
    display: inline-block;
    width:16%;

}
.nav-tab {
    margin: 45px;
    font-size: 12px;
}
.nav-tab li {
    width:100px;
    font-family: 명조;
    margin-top:10px;
}
.nav-tab li img{
    width: 160px;
    margin:-10px 0 -50px -10px;
}
/** 검색창*/
#search-box {
    background-color: #fff;
    width: 1280px;
    height: 0px;
    position: absolute;
    z-index: 10;
    top:175px;
    font-size: 12px;
    overflow: hidden;
    transition: height 0.3s;
    
}
#search-box li{
float: left;
}

.search-box-cell{
    display: inline-block;
    float: left;
    width:560px;
    height:10px;
    padding: 30px;
}
#hashtag div > span{
    color:rgb(255, 132, 169);
}

#search-box-btn{
    position: absolute;
    border: 1px solid rgb(255, 132, 169);
    border-radius:20px;
    background-color:rgb(255, 132, 169);
    color: #fff;
    width:120px;
    height:30px;
    top:180px;
    left:550px;

}
#product select{
    width:130px;
    height:30px;
    margin-left: 20px;
    margin-top:-10px;
    border: 1px solid #ddd;
}
#product input[type=text]{
    background-color:#eee;
    border: 1px solid #fff;
    margin-left: 20px;
    margin-top:-10px;
    width:200px;
    height:30px;
}

#hashtag input[type=text]{
    background-color:#eee;
    border: 1px solid #fff;
    margin-left: 20px;
    margin-top:-10px;
    width:484px;
    height:30px;
    color: rgb(255, 82, 134);
}
.hashtag-cell {
    color: rgb(255, 82, 134);
}
/**정지 배너*/
#bn-s img {
    width: 100%;
    margin-top:40px;
}

/**롤링 배너*/
.swiper-slide img {
    width: 100%;
    height: 100%;
  }

/** 이벤트
----------------------------------------------------*/
#br-event {
    margin-top: 80px;
    margin-bottom: 80px;
}
.event-cells {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}
.event-cell {
    float: left;
    width:23%;
    margin: 8px;
}
.e-icon {
    width:40%;
    margin: 15px 0 10px 0;
}
.event-cell .e-title {
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.event-cell ul .subment {
    color: rgb(141, 129, 92);
    text-align: left;
    font-size: 10px;
    margin: 10px 0;
}
/**BR MENU*/
#br-menu {
   overflow: hidden; 
}
#bg-img img{
    width: 120%;
    height: 100% ;
}

#menu-icon {
    position: relative;
    margin-top: -630px;
    margin-left: 45%;
    width: 60px;
    z-index: 5;
}
#menulist{
    position: relative;
    width: 550px;
    margin-left: 20%;
    z-index: 3;
}

/**스토어 앤 해피오더*/
#store-happy {
    width: 85%;
    margin: 100px auto;
    
}
.store-happy-cell {
    float: left;
    width:49%;
    
}

 .sh-img img {
    width:100%;
    margin-top: 70px;
}


/**sns*/

#sns ul li span {
    margin-left: 5px;
    margin-right: 5px;
}
#sns-icon {
    margin-bottom: 50px;
}

/**인스타 이미지*/

#insta-title>img {
    position:absolute;
    left: 500px;
}
#insta ul {
    width:90%;
    margin: 60px auto 100px auto;
    border-top: 1px solid rgb(200, 189, 153);
    padding-top: 48px;
}

#insta ul li{
    display: block;
    float: left;
    margin-top:10px;
}
.instaimg {
  width: 200px;
  height: 200px;
  margin-top: 3px;
  
}
/**footer
------------------------------------------------*/
#footer-top {
    height: 60px;
    width: 100%;
    border-top: 1px solid rgb(255, 206, 45);
    margin:12px auto;
    padding-top: 18px;
}
#footer-top ul {
    margin:0 auto;
    width: 80%;
    text-align: center;
    font-size:12px;
}

#footer-top ul li {
    display: inline;
    float: left;
    margin:0 27px;
}

#footer-mid {
    width: 100%;
    background-color: rgb(246, 246, 246);
    height: 60px;
}
#footer-mid ul {
    width: 50%;
    margin: 0 auto;
}

#footer-mid li{
    float: left;
    margin-top:13px;
   
}
#footer-mid li > select {
    margin:6px 0 0 10px;
}

#footer-bottom {
    width: 100%;
    height: 200px;
 font-size:5px;
 margin-bottom: 20px;
}

#footer-bottom img {
    margin-top: 40px;
    margin-bottom: 40px;
}

#footer-bottom address {
    margin-top:20px;
}
/**슬라이드바 버튼디자인*/
.swiper-button-next {
    background: url(/baskin/img/btn_banner_next.png) no-repeat;
    background-size: 400% auto;
    background-position: center;
  }
  
  .swiper-button-prev {
    background: url(/baskin/img/btn_banner_prev.png) no-repeat;
    background-size: 400% auto;
    background-position: center;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-pagination-bullet{
      background: #000;
  }